<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<% if @user.microposts.any? %>
  <div>
    <h3>First Micropost</h3>
    <p><%= @user.microposts.first.content %></p>
  </div>
<% else %>
  <p>This user has no microposts.</p>
<% end %>
